/*Global*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../bg3.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.newbody {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #f1Db61;
  font-weight: bolder;
  overflow-y: hidden;
  position: relative;
  overflow: hidden;
}

/*global end */
/*left section with parallax images*/
img {
  width: 100%;
  height: 50vh;
}

.text {
  padding-top: 50px;
}

.three {
  overflow-y: hidden;
}

.wrapper {
  width: 50%;
  background-color: #e9e9eb;
}

/*left section with parallax images end */
/*heading*/
#main {
  position: absolute;
  right: 5%;
  top: 55%;
  text-align: center;
}

#main h1 {
  font-size: 80px;
}

#main p {
  color: #ffffff;
  font-size: 50px
}

/*heading end*/
/*form*/
form {
  position: absolute;
  right: 15%;
  top: 80%;
  color: #f1Db61;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  display: none;
}

.visibleform {
  display: block;
  -webkit-animation: lightSpeedIn 2s;
  animation: lightSpeedIn 2s;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

#button{
  padding: 10px 15px;
  background-color: #000000;
  color: #f1Db61;
  border: none;
  border-radius: 20%;
}

/*form end*/
/*enter fixed button*/
#enter {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #000000;
  padding: 20px;
}

#enter p {
  color: #f1Db61;
  font-size: 20px;
}

/*enter fixed button end*/
