/*Global*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*navbar*/

.navbar{
  background: #eb46b4;
}

.navbar-brand{
    color: #b4eb46;
}

.navbar-brand:hover{
  -webkit-animation: flash 2s infinite;
  animation: flash 2s infinite;
  color: #b4eb46;
}

.nav-item a{
    color: #b4eb46;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.nav-item a:hover{
    color: #ffffff;
    -webkit-animation: fadeIn 2s infinite;
    animation: fadeIn 2s infinite;
}

#myNav{
  position: absolute;
  right: 0;
}

#myNav ul li {
  padding: 0px 10px;
}

.navbar-toggler{
  color: #f1Db61;
}

/*navbar end*/

.newbody {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #000000;
  font-weight: bolder;
  overflow-y: hidden;
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
}

/*global end */
/*left section with parallax images*/
img {
  width: 100%;
  height: 50vh;
}

.text {
  padding-top: 50px;
}

.three {
  overflow-y: hidden;
  background-color: #46b4eb;
}

.wrapper {
  width: 50%;
  background-color: #46b4eb;
}

.heading{
  background-color: #46b4eb;
}

.two{
    background-color: #46b4eb;
}

.fruit{
  flex: 50%;
}

.coffee{
  flex: 50%;
}

/*left section with parallax images end */
/*heading*/
#main {
  position: absolute;
  right: 5%;
  top: 25%;
  text-align: center;
}

#main h1 {
  font-size: 80px;
}

#main p {
  color: #000000;
  font-size: 50px
}

/*first banner*/
#banner{
  width: 50%;
  position: absolute;
  right: 0;
  top: 100%;
}
/*first banner end */

/*heading end*/
/*form*/
form {
  position: absolute;
  right: 15%;
  top: 55%;
  color: #000000;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  display: none;
}

.visibleform {
  display: block;
  -webkit-animation: lightSpeedIn 2s;
  animation: lightSpeedIn 2s;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #46b4eb;
  color: #f1Db61;
  font-weight: bolder;
  font-size: 18px;
}

#button{
  padding: 10px 15px;
  background-color: #46b4eb;
  color: #f1Db61;
  border: none;
  border-radius: 20%;
  font-weight: bolder;
  font-size: 18px;
}

/*form end*/
/*enter fixed button*/
#enter {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #000000;
  padding: 20px;
}

#enter p {
  color: #f1Db61;
  font-size: 20px;
}

/*enter fixed button end*/
